:host {
  display: inline-block;
  font-family: $family-primary;

  input,
  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  label {
    cursor: pointer;
    display: inline-block;
    font-size: $size-normal;
    line-height: 13px;
    margin-right: $gap-size * 1px;
    position: relative;
    user-select: none;
    vertical-align: top;
    width: auto;

    &::before {
      content: '';
      background-color: transparent;
      border: 1px solid $input-border-color;
      border-radius: 50px;
      box-shadow: inset 0 0 0 2px $input-background-color;
      display: inline-block;
      height: 10px;
      margin-right: 5px;
      padding: 5px;
      vertical-align: top;
      width: 10px;
    }
  }

  input:checked + label::before {
    background-color: $success;
  }

  input[readonly]:checked + label::before,
  input[disabled]:checked + label::before {
    background-color: $input-disabled-color;
    cursor: not-allowed;
  }

  input[readonly] + label,
  input[disabled] + label {
    color: $input-disabled-color;
    cursor: not-allowed;
  }
}
