.npmignore
.nyc_output
.editorconfig

lerna-debug.log
package-lock.json
package.json

node_modules
build
build-typings

public/
public/images
typings
test
styleguide
styleguide/images

index.md.*

readme
README.md
LICENSE
