$icon-dimensions: $size-normal !default;
$icon-dimensions-small: $size-small !default;

@import '@fortawesome/fontawesome-svg-core/styles';

:host {
  display: inline-flex;
  .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: $icon-dimensions;

    &.is-small {
      height: $icon-dimensions-small;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
