.documentation {

    // May or may not be of any use
    .component-description {
        font-size: $size14px;
        margin-bottom: 20px;
    }

    .note {
        font-family: $fontStack;
        font-size: $size14px;
        color: $fontColor;
        background-color: $bodyColor;
        padding: 10px;
        border-top: 2px solid $leftSidebarLinkColor;
        margin-bottom: 20px;
    }

    .example {
        h4 {
            margin-bottom: 10px;
        }

        .btn-toolbar {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .btn {
                margin-bottom: 10px;
            }
        }

        .line-group {

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .line {
                
                &.fit-content {
                    width: fit-content;
                }

                &:not(.horizontal) {
                    display: inline-block;
                }
    
                &:not(.margin-free) {
                    margin-left: 5px;
                }
    
                &:not(.margin-free) {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
    
                &.border {
                    border: 1px solid;
    
                    &.black-color { border-color: black; }
                    &.font-color { border-color: $fontColor; }
                    &.font-lighter-color { border-color: $fontColorLighter; }
                    &.default-color { border-color: $defaultColor; }
                    &.primary-color { border-color: $primaryColor; }
                    &.success-color { border-color: $successColor; }
                    &.info-color { border-color: $infoColor; }
                    &.warning-color { border-color: $warningColor; }
                    &.danger-color { border-color: $dangerColor; }
                }
    
                &:not(.padding-free) {
                    padding: 5px 10px;
                }
                border-radius: 5px;
            }
        }
    }
}