// Font Family
$fontHeader: "Montserrat", sans-serif;
$fontStack: "Open Sans", Helvetica, Arial, sans-serif;
$fontColor: #3a3a3a;
$fontColorHover: lighten($fontColor, 5%);
$fontColorLighter: #7d7d7d;
$fontColorLighterHover: lighten($fontColorLighter, 5%);

// Font Size 
$size6px: 0.375em;
$size7px: 0.438em;
$size8px: 0.500em;
$size9px: 0.563em;
$size10px: 0.625em;
$size11px: 0.688em;
$size12px: 0.750em;
$size13px: 0.813em;
$size14px: 0.875em;
$size15px: 0.938em;
$size16px: 1.000em;
$size17px: 1.063em;
$size18px: 1.125em;
$size19px: 1.188em;
$size20px: 1.250em;
$size21px: 1.313em;
$size22px: 1.375em;
$size23px: 1.438em;
$size24px: 1.500em;
//Button and Banner Colors
$defaultColor: #C0C0C0;
$defaultColorHover: lighten($defaultColor, 5%);
$primaryColor: #61A653;
$primaryColorHover: lighten($primaryColor, 5%);
$successColor: #89BC55;
$successColorHover: lighten($successColor, 5%);
$selectionColor: rgba(210, 255, 165, 0.25);
$warningColor: #FB9248;
$warningColorHover: lighten($warningColor, 5%);
$infoColor: #0082B7;
$infoColorHover: lighten($infoColor, 5%);
$dangerColor: #e25d5d;
$dangerColorHover: lighten($dangerColor, 5%);
$lightGrey: #F9F9F9;
$lightGreyHover: lighten($lightGrey, 5%);
//Form input borders
$inputBorderColor: #e8ebed;
//Components Colors
$leftSidebarColor: #3A3A3A;
$leftSidebarLinkColor: #B3B8C3;
$bodyColor: #F0F3F3;
$aLinkHover: #999;
//Panel
$panelFontColor: #666;
// Favorite color
$goldColor: #FFD700;
// Editor color
$editorFontColor: #CCCCCC;
$editorGutterColor: #272727;
$editorColor: #2D2D2D;
$editorTabBorder: lighten($editorGutterColor, 8%);
//#008E2A green hard
//#61A653 green med
//#89BC55 green light
//#0082B7 blue
//#C0C0C0 grey
//#FB9248 orange

/*
  $defaultColor:#909AA0; //grey
 $defaultColorHover:lighten($defaultColor,5%); //lighter grey
 $primaryColor:#556B8D; // dark blue (main app color)
 $primaryColorHover:lighten($primaryColor,5%); //lighter dark blue (main app hover color)
 $successColor:#27B6AF; //turquoise
 $successColorHover:lighten($successColor,5%); //lighter turquoise
 $warningColor:#EDCE8C; //yellow
 $warningColorHover:lighten($warningColor,5%); //lighter yellow
 $infoColor:#1F7BB6; //blue
 $infoColorHover:lighten($infoColor,5%); //lighter blue
 $dangerColor:#e25d5d; //red
 $dangerColorHover:lighten($dangerColor,5%); //lighter red
  */

$infoColorLightest: lighten( $infoColor, 55% );
$fontColorLightest: lighten( $fontColor, 40% );
$defaultColorLightest: lighten( $defaultColor, 15%);

// Documentations
$noteBgColor: #FAFBFC;