@import 'control';

@mixin anchor {
  @include control;

  color: $primary;
  font-family: $family-primary;
  background-color: transparent;
  border: none;
  height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: bulmaDarken($primary, 2.5%);
    text-decoration: underline;
  }
  &:visited {
    color: bulmaDarken($primary, 5%);
  }
}
