// The button sizes use mixins so they can be used at different breakpoints
@mixin button-small() {
  border-radius: $radius-small;
  font-size: $size-small;
  height: 1.375rem;
  // width: 1.75rem;
  // padding: calc(0.5em - 1px);
}
@mixin button-normal() {
  font-size: $size-normal;
}
@mixin button-medium() {
  font-size: $size-medium;
}
@mixin button-large() {
  font-size: $size-large;
}
