@import 'src/styles/atoms/control';

:host {
  box-sizing: border-box;
  display: block;
  position: relative;

  .control {
    @include control-container;

    display: flex;
  }

  .input {
    @include input-textarea;
    &.is-static {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
