@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables";

$family-primary: "Open Sans", helvetica, arial, sans-serif;

$gap-size: 5;

$size-small: 0.85rem;
$size-xlarge: 2rem;

$tabs-link-active-border-bottom-color: $success;
$tabs-link-active-color: $success;
