// bulma/sass/form/shared
$input-height: 1.5em;

// bulma/sass/utilities/derived-variables.scss
$family-primary: "Open Sans", helvetica, arial, sans-serif;
$size-small: 0.85rem;

// P6 Components Variables
$gap-size: 5;
$size-xlarge: 2rem;
