$choices-border-radius: $control-border-width;
$choices-border-radius: $input-radius;
$choices-border-radius-item: 0;
$choices-bg-color: $input-background-color;
$choices-bg-color-disabled: $input-disabled-background-color;
$choices-bg-color-dropdown: $input-background-color;
$choices-text-color: $input-color;
$choices-keyline-color: $input-border-color;
$choices-primary-color: $grey-lightest;

$p6-select-border-color: #e8ebed !default;
$p6-select-border-width: 1px !default;
$p6-select-multiple-item-bg-color: #e8ebed !default;
$p6-select-multiple-item-text-color: #555 !default;
$p6-select-dropdown-item-highlighted-bg-color: #dce7fe !default;

@import '~choices.js/src/styles/choices';
@import '../../../styles/atoms/control';

@mixin cross($color) {
  text-indent: -9999px;
  appearance: none;
  border: 0;
  background: initial;
  position: absolute;
  opacity: 0.3;
  top: calc(50% - 0.125em);
  height: 0.625em;
  width: 0.625em;
  margin: -0.437em 0 0;

  &:hover {
    opacity: 1;
  }
  &::before,
  &::after {
    position: absolute;
    left: 0.5em;
    content: ' ';
    height: calc(1em + 1px);
    width: 2px;
    background-color: $color;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

$sizes: ('default' $size-small, small $size-small, normal $size-normal, medium $size-medium, large $size-large);

p6-select {
  // Sizes
  @each $list in $sizes {
    $name: nth($list, 1);
    $size: nth($list, 2);
    &.is-#{$name} {
      .#{$choices-selector},
      .#{$choices-selector}__inner,
      .#{$choices-selector}__item,
      .#{$choices-selector}__input,
      .p6__#{$choices-selector}__button,
      .#{$choices-selector}[data-type*='select-multiple'] .#{$choices-selector}__item {
        font-size: $size;
      }
    }
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name} {
      .#{$choices-selector} {
        &__inner {
          border-color: $color;
        }

        &:not(:hover)::after {
          border-color: $color;
        }

        &:focus,
        &.is-focused,
        &:active,
        &.is-active {
          .#{$choices-selector}__inner {
            box-shadow: $input-focus-box-shadow-size bulmaRgba($color, 0.25);
          }
        }

        &:hover,
        &.is-hovered {
          .#{$choices-selector}__inner {
            border-color: bulmaDarken($color, 5%);
          }
        }
      }
    }
  }

  &[required]:not([required='false']),
  &[disabled]:not([disabled='false']) {
    .#{$choices-selector}[data-type*='select-one'] {
      .p6__#{$choices-selector}__button {
        display: none;
      }
    }
  }

  &[disabled]:not([disabled='false']) {
    .#{$choices-selector}[data-type='select-multiple'] {
      .p6__#{$choices-selector}__button {
        display: none;
      }
    }
  }

  .#{$choices-selector} {
    &[data-type*='select-one'] .#{$choices-selector}__inner,
    &[data-type*='select-multiple'] .#{$choices-selector}__inner {
      padding-right: 3.5em;
      padding-bottom: calc(0.5em - 1px);
      padding-left: calc(0.5em - 1px);
      padding-top: calc(0.5em - 1px);
    }

    &[data-type*='select-one'] {
      .p6__choices__button {
        @include cross(#333);

        right: -1.5em;
      }

      .#{$choices-selector}__list--dropdown {
        .#{$choices-selector}__input {
          padding: 0.25em;
        }
      }

      &::after {
        border: 2px solid #000;
        border-radius: 2px;
        border-right: 0;
        border-top: 0;
        content: ' ';
        display: block;
        height: 0.625em;
        margin-top: -0.4375em;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 0.625em;
      }

      &.is-open::after {
        margin-top: inherit;
        border-color: inherit;
        transform: rotate(135deg);
        top: calc(50% - 0.125rem);
      }
    }

    &[data-type*='select-multiple'] {
      .#{$choices-selector}__inner {
        padding: 0;
        display: flex;
        align-items: center;
      }

      .#{$choices-selector}__input {
        margin-bottom: 0;
      }

      .#{$choices-selector}__item {
        padding: 3px 5px;
        background-color: $p6-select-multiple-item-bg-color;
        color: $p6-select-multiple-item-text-color;
        border: none;

        .p6__#{$choices-selector}__button {
          @include cross(#000);

          font-size: 0.825em;
          position: relative;
          margin-right: 0.5em;
          margin-left: 0.5em;
        }
      }
    }
  }

  .#{$choices-selector}__inner {
    @include input;

    min-height: initial;
  }

  .#{$choices-selector}__list--single {
    padding: 0;
  }

  .#{$choices-selector}__list--dropdown {
    .#{$choices-selector}__item {
      padding: 0 0 0 0.5em !important;

      &--selectable {
        &.is-highlighted {
          background-color: $p6-select-dropdown-item-highlighted-bg-color;
        }
      }
    }
  }

  .#{$choices-selector}__list--multiple .#{$choices-selector}__item {
    margin: 0.25em;
    font-size: $size-small;

    &.is-highlighted {
      background-color: $p6-select-dropdown-item-highlighted-bg-color;
      border: none;
    }
  }

  .#{$choices-selector}__item {
    position: relative;
  }
}
