:host {
  display: block;
  font-family: $family-primary;

  input,
  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  label {
    user-select: none;
    font-size: $size-small;
    line-height: 13px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 10px;
      border: 1px solid $input-border-color;
      background-color: $input-background-color;
      border-radius: 2px;
      margin-right: 5px;
    }
  }

  input:checked + label::before {
    content: "✓";
    color: $success;
    font-size: $size-small;
  }

  input[disabled]:checked + label,
  input[disabled]:checked + label::before {
    color: $input-disabled-color !important;
    cursor: not-allowed;
  }
}
