@mixin checkbox-size($size) {
  + label {
    font-size: $size;
    line-height: $size;
    &::before {
      width: calc(#{$size} - 1px);
      height: calc(#{$size} - 1px);
    }
  }

  &:checked + label::after {
    height: calc(#{$size} / 3);
    width: calc(#{$size} / 2 + 2px);
    left: calc(#{$size} / 6);
    top: calc(#{$size} / 4);
    border-width: calc(#{$size} / 6 - 1px);
  }
}

:host {
  display: block;
  font-family: $family-primary;

  input,
  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    @include checkbox-size($size-normal);
  }

  label {
    user-select: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: top;
      border: 1px solid $input-border-color;
      background-color: $input-background-color;
      border-radius: 2px;
      margin-right: 5px;
    }
  }

  input:checked + label::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-left: 1px solid $success;
    border-bottom: 1px solid $success;
    transform: rotate(-45deg);
  }

  // Colors
  input:checked {
    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.is-#{$name} + label::after {
        border-left: 1px solid $color;
        border-bottom: 1px solid $color;
      }
    }
  }

  input[disabled]:checked + label {
    color: $input-disabled-color !important;
    cursor: not-allowed;
  }

  input[disabled]:checked + label::after {
    border-color: $input-disabled-color !important;
    cursor: not-allowed;
  }
}
