:host {
  display: block;

  input,
  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
  }

  label {
    user-select: none;
    font-size: $size-small;
    line-height: 13px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    position: relative;

    &::before {
      background-color: $input-background-color;
      border: 1px solid $input-border-color;
      border-radius: 50px;
      content: "";
      display: inline-block;
      height: 20px;
      margin-right: 5px;
      vertical-align: middle;
      width: 35px;
    }

    &::after {
      content: "";
      background-color: $input-border-color;
      border-radius: 50px;
      height: 15px;
      left: 2px;
      position: absolute;
      transition: 0.4s;
      top: 2.5px;
      width: 15px;
    }
  }

  input:checked + label::after {
    background-color: $success;
    transform: translateX(15px);
  }

  input[disabled]:checked + label {
    color: $input-disabled-color !important;
    cursor: not-allowed;
  }

  input[disabled]:checked + label::after {
    background-color: $input-disabled-color;
    cursor: not-allowed;
  }
}
