@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/base/helpers";

:host {
  display: flex;
  font-size: $size-7;
  margin: 0.75em 0;
  padding: 0 0.5em;
  position: relative;

  .grid-cell-context-menu {
    color: $info;
    display: none;

    div {
      display: flex;
      justify-content: center;

      p6-icon {
        cursor: pointer;
      }
    }
  }
}

:host(:not(:last-child)) {
  width: 100px;
}

p6-grid-header {
  :host {
    font-weight: $weight-bold !important;
    justify-content: start;

    .grid-cell-context-menu {
      background-color: $white;
      border: 1px solid $white-ter;
      cursor: context-menu;
      display: flex;
      flex-direction: column;
      left: 0;
      max-width: 100px;
      padding: $gap-size * 1px;
      opacity: 0;
      position: absolute;
      top: -9px;
      z-index: -1;
    }

    &:not(:last-child) {
      border-right: 1px solid $grey-lighter;
      justify-content: center;
    }

    &:hover {
      .grid-cell-context-menu {
        opacity: 1;
        z-index: 100;
      }
    }

    .grid-cell-context-menu:hover {
      opacity: 1;
      z-index: 100;
    }
  }
}
