@import '~bulma/bulma';
@import '~bulma-calendar/src/sass/index';

$calendar-input-padding-top: 0.275rem;

:host {
  display: block;

  .datetimepicker-dummy {
    &::before {
      content: none;
    }

    .datetimepicker-dummy-wrapper {
      @include input;

      border-radius: $input-radius;

      .datetimepicker-dummy-input {
        font-size: $size-normal;
        padding-top: 0.275rem;
      }

      .datetimepicker-dummy-input:first-child {
        text-indent: 0.5rem;
      }
    }
  }

  .datetimepicker-clear-button {
    font-size: $size-medium;
    top: $calendar-input-padding-top * -1;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    .datetimepicker.is-#{$name} {
      .datetimepicker-footer-today {
        color: $color !important;
      }

      .datepicker-body {
        .datepicker-months .datepicker-month,
        .datepicker-years .datepicker-year {
          &.is-active {
            border-color: $color;
            background: $color;
          }

          &:hover {
            border-color: $color;
            background: #fff;
          }
        }
      }
    }
  }
}

:host([disabled]:not([disabled='false'])),
:host([readonly]:not([readonly='false'])) {
  .datetimepicker-dummy .datetimepicker-clear-button {
    display: none;
  }
}

:host([disabled]:not([disabled='false'])) {
  .datetimepicker-dummy .datetimepicker-dummy-wrapper {
    background-color: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
    color: $input-disabled-color;

    &,
    .datetimepicker-dummy-input {
      cursor: not-allowed;
    }
  }
}
