:host {
  display: flex;
  flex-direction: column;

  .row-context-menu {
    display: none;
    position: absolute;
    z-index: 100;

    &.is-open {
      background-color: $white;
      border: 1px solid $white-ter;
      display: flex;
      padding: $gap-size * 1px;
    }
  }

  p6-grid-actions + :not(p6-grid-header) {
    margin-top: $gap-size * 1px;
  }

  p6-grid-header + :not(p6-grid-body) {
    margin-top: $gap-size * 0.21rem;
  }
}
