*{ box-sizing: border-box; }

body{
	display: flex;
	height: 100vh;
	margin: 0;
	font-family: sans-serif;
	color: #444;
}

a{
	color: #213ece;
	text-decoration: none;
}

a:hover, a:focus{
	text-decoration: underline;
}

main{
	flex: 1;
	padding: 40px 20px;
    overflow: auto;
}

table{
	width: 100%;
	margin-top: 40px;
	border-collapse: collapse;
}

td, th{ padding: 10px 20px; }

th{ text-align: left; }

thead th{ border-bottom: 2px solid #ccc; }

.logo{
	font-size: 32px;
	font-family: 'Nova Flat', cursive;
}

.sidebar{
	min-width: 250px;
	padding: 40px 20px;
	background-color: #eee;
	overflow: auto;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 15px 10px;
	color: #777;
	transition: color .2s, background-color .2s;
}

.sidebar a.selected, .sidebar a:hover{
	background-color: #e7e7e7;
	border-radius: 4px;
}

.sidebar a:hover{
	text-decoration: none;
	color: #444;
}
