@import "bulma/sass/form/tools";
@import "bulma/sass/form/input-textarea";

:host {
  box-sizing: border-box;
  display: block;
  position: relative;

  .control {
    display: flex;
  }

  input {
    height: $input-height;
  }
}
