@import "bulma/sass/components/level";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/tag";
@import "bulma/sass/helpers/color";

:host {
  display: flex;
  flex-direction: column;

  .hidden-column-panel {
    border: 1px solid $grey-lighter;
    font-size: $size-7;
    margin-bottom: $gap-size * 1px;
    padding: $gap-size * 1px;

    p6-tag {
      border-radius: 0;
      cursor: pointer;
      margin-right: $gap-size * 1px;
    }
  }

  .level {
    margin-bottom: 0;
    padding-bottom: $gap-size * 1px;

    p6-icon {
      font-size: $size-7;
    }

    .level-right {
      .control {
        align-items: center;
        display: flex;
        position: relative;
      }

      p6-icon {
        position: absolute;
      }

      input {
        padding-left: 20px;
      }
    }
  }

  .row-context-menu {
    display: none;
    position: absolute;
    z-index: 100;

    &.is-open {
      background-color: $white;
      border: 1px solid $white-ter;
      display: flex;
      padding: $gap-size * 1px;
    }
  }
}
