@import "bulma/sass/elements/button";
@import "bulma/sass/elements/tag";

:host {
  display: flex;
  flex-direction: column;

  .btn-bar {
    padding-bottom: $gap-size * 1px;
    width: 100%;

    p6-button {
      margin-right: $gap-size * 1px;
    }
  }

  .hidden-column-panel {
    border: 1px solid $grey-lighter;
    padding: $gap-size * 1px;
    margin-bottom: $gap-size * 1px;

    p6-tag {
      border-radius: 0;
      cursor: pointer;
      margin-right: $gap-size * 1px;
    }
  }

  .row-context-menu {
    display: none;
    position: absolute;
    z-index: 100;

    &.is-open {
      background-color: $white;
      border: 1px solid $white-ter;
      display: flex;
      padding: $gap-size * 1px;
    }
  }
}
