@import "bulma/sass/form/tools";
@import "bulma/sass/form/input-textarea";

:host {
  box-sizing: border-box;
  display: block;
  position: relative;
  .control {
    display: flex;
  }

  .textarea {
    display: inline-block;
    min-width: initial;
  }

  .textarea.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    resize: none;
  }
}
